<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="hary.my.id" />
<meta property="og:title" content="https://hary.my.id" />
<meta property="og:description" content="hary.my.id" />
<meta property="og:url" content="https://hary.my.id/" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<link rel="stylesheet" type="text/css" media="screen" href="//hary.my.id/style.css">
<title>{{ page.title }}</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101737721-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-101737721-1');
</script>
</head>
<body>
<div id="header_wrap" class="outer">
<header class="inner">
<p><a href="//hary.my.id" title="Home">Home</a> | <a href="/en" title="English">EN</a> | <a href="/id" title="Indonesian">ID</a> | <a href="/ar" title="Arabic">AR</a> | <a href="/en/about" title="About">About</a> | <a href="/en/toc" title="Table of Contents">All Posts</a></p>
</header>
</div>
{{ content }}
<div id="footer_wrap" class="outer">
<footer class="inner">
<p><a href="#" title="Go to Top">Top</a> | <a href="//hary.my.id" title="hary.my.id" target="_blank">hary.my.id</a></p>
</footer>
</div>
</body>
</html>
